@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: circularRegular;
    src: url(../../public/fonts/CircularXXWeb-Medium.woff2);
  }

  body {
    font-family: 'circularRegular', Courier, monospace;
  }
